
.material-icons{
	vertical-align:middle;
}
#bgImage{
	background-image: url("https://image.shutterstock.com/image-vector/online-cinema-art-movie-watching-260nw-586719869.jpg");
      height: 200px;
}
.input-container {
  display: flex;
}
#theater {
  padding: 8px;
  background: #D3D3D3;
}
#findmovie{
	color:white;
}
#navHeader{
	background-color:#ff4d4d; 
	color:white;
}
#brand{
	color:white;
}
#navItems{
	color:white;
}
#footerscroll{
	background-color:#ff4d4d;
	color:white;
	}
#footer{
	background-color:#ff4d4d;
	color:white;
	bottom:0;
	position:fixed;
	width:100%;
	}
.message {
        border-radius: 0.25rem;
        display: none;
      }
#addToWatchlist{
	float:right;
}
#edit{
	float:right;
}
#detailsSaved{
	background-color:#b0e0e6;
	color:#008000;
	font-size:20px;
	padding-left:15px;
	padding-top:15px;
	padding-bottom:15px;
	}
#movieAdded{
	background-color:#b0e0e6;
	color:#008000;
	padding-left:10px;
	padding-top:15x;
	padding-bottom:10px;
	}
#itemDelete{
	background-color:#b0e0e6;
	color:#008000;
	padding-left:10px;
	padding-top:15x;
	padding-bottom:10px;
	}
#total{
	background-color:black;
	color:white;
	font-weight:bold;
	font-size:20px;
	padding-left:10px;
	padding-top:15x;
	padding-bottom:10px;
	}
#container{
	width:34%;
}
#mil{
	color:black;
}
#imdb{
	color:red;
}
#genre{
	color:#008080;
}
.card-img-top {
    height: 250px;
	object-fit:cover;
}